#appBaseBck {
    padding-top: 125px;
    min-height: 750px;
}

#appBaseTopBarBck {
    background-color: green;
    height: 125px;
    top: 0;
    z-index: 5;
}

#appBaseMainBodyBck {
    height: 100%;
}

#appBaseBodyLeftBck {
    background-color: orangered;
    width: 270px;
}

#appBaseBodyRightBck {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {
    #appBaseBodyRightBck {
        width: 100%;
    }
}