#appBaseBck {
    padding-top: 125px;
    min-height: 750px;
    /*height: 100vh;*/
}

#mainContentBck {
    padding-left: 270px;
}

#appBaseTopBarBck {
    background-color: green;
    height: 125px;
    top: 0;
    z-index: 5;
}

#appBaseBodyLeftBck {
    left: 0;
    width: 270px;
}

#appBaseBodyRightBck {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 991px) {
    #mainContentBck {
        padding-left: 0;
    }
}