#mainWindowTopBarBck {
    background-color: green;
    height: 15%;
}

#mainWindowMainBodyBck {
    background-color: yellow;
    height: 85%;
}

#mainWindowBodyLeftBck {
    background-color: orangered;
    width: 20%;
}

#mainWindowBodyRightBck {
    background-color: white;
    width: 80%;
}

@media (max-width: 991px) {
    #mainWindowBodyRightBck {
        width: 100%;
    }
}

@media (max-width: 575px) {
    #mainWindowTopBarBck {
        height: 10%;
    }

    #mainWindowMainBodyBck {
        height: 90%;
    }

    #mainWindowBodyLeftBck {
        position: absolute;
        z-index: 2;
        background-color: orangered;
        width: 70%;
    }
}