#mainWindowMainBck {
    width: 95%;
}

#mainWindowHeaderBck {
    height: 64px;
    border-bottom: 2px solid #D3D3D3;
}

#mainWindowDatabaseBck {
    height: 92%;
}

#mainWindowAuthorBck {
    margin-right: 2%;
    width: 20%;
}

#mainWindowTitleBck {
    width: 80%;
}
