#mainWindowBck {
    background-color: red;
    height: 100vh;
    overflow: hidden;
}

#mainWindowTopBarBck {
    background-color: green;
    height: 15%;
}

#mainWindowMainBodyBck {
    background-color: yellow;
    height: 85%;
}

#mainWindowBodyLeftBck {
    background-color: orangered;
    width: 20%;
}

#mainWindowBodyRightBck {
    background-color: white;
    width: 80%;
}

@media (max-width: 991px) {
    #mainWindowTopBarBck {
        height: 10%;
    }

    #mainWindowMainBodyBck {
        height: 90%;
    }

    #mainWindowBodyRightBck {
        width: 100%;
    }
}