#topPanel {
    height: 8%;
}

#middlePanel {
    height: 89%;
    margin-bottom: 10px;
}

#recordsBck {
    background-color: #F3F3F3;
    height: 98%;
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
}

#sortOptions {
    background-color: white;
    height: 8%;
    min-height: 45px;
    max-height: 50px;
    border-bottom: 1px solid #979797;
}

.optionBck {
    display: flex;
    height: 80%;
    border-right: 1px solid #979797;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

#recordsField {
    display: block;
    height: 92%;
    overflow-y: auto;
    scrollbar-color: #C4C4C4 #F3F3F3;
    scrollbar-width: thin;
}

#recordsField::-webkit-scrollbar {
    width: 7px;
    background-color: #F3F3F3;
}

#recordsField::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 6px;
}

#key1 {
    width: 4em;
}

#key2 {
    width: 15%;
}

#key3 {
    width: 30%;
}

#key4 {
    width: 17%;
}

#key5 {
    width: 12%;
}

#key6 {
    display: flex;
    width: 12%;
}

@media (max-width: 1300px) {
    #key1 {
        width: 4em;
    }

    #key2 {
        width: 20%;
    }

    #key3 {
        width: 30%;
    }

    #key4 {
        width: 17%;
    }

    #key5 {
        width: 18%;
    }

    #key6 {
        display: none;
    }
}
