.recordMainBck {
    background-color: #E1E1E1;
    position: relative;
    margin-bottom: 6px;
    z-index: 0;
}

.recordMainBck:last-child {
    margin-bottom: 30px;
}

.recordBck {
    position: relative;
    background-color: white;
    height: 46px;
    transition: 250ms;
    z-index: 2;
}

.recordBck:hover {
    background-color: #D3D3D3;
    cursor: pointer;
    transition: 250ms;
}

.recordBck:hover .recordOptionsBck {
    display: flex;
}

.recordFieldBck {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 5px;
    margin-right: 0.07vw;
}

.recordFieldText {
    font-size: 14px;
    line-height: 18px;
}

.sublistGrayBck {
    height: 90%;
    position: absolute;
    background-color: #E1E1E1;
    padding: 10px 0.5vw 10px;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.recordOptionsBck {
    right: 0;
    width: 10%;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4px;
    display: none;
    animation-name: fadein;
    animation-duration: 0.9s;
}


.visibleOptions {
    display: flex;
}


.key1 {
    width: 5%;
}

.key2 {
    width: 15%;
}

.key3 {
    width: 30%;
}

.key4 {
    width: 17%;
}

.key5 {
    width: 12%;
}

.key6 {
    width: 12%;
}

@media (max-width: 1300px) {
    .key1 {
        width: 8%;
    }

    .key2 {
        width: 20%;
    }

    .key3 {
        width: 30%;
    }

    .key4 {
        width: 17%;
    }

    .key5 {
        width: 18%;
    }

    .key6 {
        display: none;
    }
}