.recordMainBck {
    position: relative;
    margin-bottom: 6px;
}

.recordMainBck:last-child {
    margin-bottom: 30px;
}

.recordBck {
    position: relative;
    background-color: white;
    height: 46px;
    transition: 250ms;
    z-index: 2;
}

.recordBck:hover {
    background-color: #D3D3D3;
    cursor: pointer;
    transition: 250ms;
}

.recordBck:hover .recordOptionsBck {
    display: flex;
}

.recordFieldBck {
    padding-left: 6px;
    padding-right: 5px;
    margin-right: 0.07vw;
    font-size: 14px;
    line-height: 18px;
}

.sublistGrayBck {
    position: absolute;
    top: 50%;
    background-color: #E1E1E1;
    padding: 32px 0.5vw 15px;
}

.recordOptionsBck {
    right: 0;
    width: 10%;
    display: none;
}

.visibleOptions {
    display: flex;
}