#topPanel {
    height: 8%;
}

#middlePanel {
    height: 82%;
    margin-bottom: 10px;
}

#bottomPanel {
    height: 7%;
}

#recordsBck {
    background-color: #F3F3F3;
    height: 98%;
    /*padding-bottom: 20px;*/
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
}

#sortOptions {
    background-color: white;
    height: 8%;
    min-height: 45px;
    max-height: 50px;
    border-bottom: 1px solid #979797;
}

.optionBck {
    height: 80%;
    border-right: 1px solid #979797;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

#recordsField {
    /*background-color: #282c34;*/
    display: block;
    /*padding-bottom: 150px;*/
    height: 92%;
    overflow-y: auto;
    scrollbar-color: #C4C4C4 #F3F3F3;
    scrollbar-width: thin;
}

#recordsField::-webkit-scrollbar {
    width: 0.5vw;
    background-color: #F3F3F3;
}

#recordsField::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 6px;
}

#pageButtonBck {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px #B7B7B7;
}

#rightPageButton {
    border-left: 1px solid #979797;
}

#pageText {
    position: absolute;
    right: 2%;
    top: 10px;
}

