#topBarContentBck {
    position: absolute;
    /*background-color: #61dafb;*/
    z-index: 4;
}

#topBarBodyBck {
    /*background-color: #f2f2f2;*/
    display: flex;
    flex-direction: row;
}

#topBarBodyLeftBck {
    /*background-color: aqua;*/
}

#topBarBodyRightBck {
    display: flex;
    align-items: center;
    background-color: blueviolet;
}

#topBarBodyRightHelper {
    background-color: #61dafb;
}