#topBarBlackEffect {
    opacity: 0.2;
    background-color: black;
}

#topBarContentBck {
    position: absolute;
    z-index: 4;
}

#topBarBodyBck {
    display: flex;
    flex-direction: row;
}

#topBarBodyLeftBck {
}

#topBarBodyRightBck {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topBarBodyRightHelper {
    max-width: 865px;
}

#topBarLang {
    padding: 7.5px 0;
    font-size: 17px;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    float: left;
    margin-left: 8px;
}

#topBarLang:hover {
    cursor: pointer;
    color: #4CF7EA;
    transition: 0.4s;
}
