#topBarImgBck {
    height: 125px;
}

#topBarImg {
    width: 101%;
    object-fit: cover;
    transform: translate(-0.5%, -26.5%);
}

#topBarBlackEffect {
    opacity: 0.2;
    background-color: black;
}

#topBarBodyBck {
    position: relative;
    padding-left: 710px;
}

#topBarBodyLeftBck {
    left: 0;
    width: 710px;
    font-size: 23px;
    font-weight: bold;
    display: flex;
}

#topBarBodyLeftBck img {
    transform: scale(0.520);
    left: 2.5%;
    top: -44%;
}

#topBarBodyLeftText {
    transform: translateX(15%);
}

#topBarBodyLeftText a {
    color: white;
}

#topBarBodyLeftText:hover a {
    text-decoration: none;
    color: #B3B3B3;
}

#topBarBodyRightBck {
    min-height: 100%;
    justify-content: flex-end;
}

#topBarBodyRightTextContainer {
    margin-right: 60px;
}

#topBarBodyRightText {
    color: white;
    font-size: 23px;
    font-weight: bold;

    cursor: pointer;
}

#topBarBodyRightText:hover {
    text-decoration: none;
    color: #dcdcdc;
}

#topBarBodyRightHelper {
    width: 100%;
    max-width: 906px;
}

#topBarLang {
    padding: 7.5px 0;
    font-size: 17px;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    float: left;
    margin-left: 8px;
}

#topBarLang:hover {
    cursor: pointer;
    color: #4CF7EA;
    transition: 0.4s;
}

.topBarIcon {
    top: 12px;
    right: 1%;
}

.topBarIcon:hover {
    cursor: pointer;
}

@media (max-width: 1038px) {
    #topBarBodyBck {
        position: static;
    }

    #topBarBodyRightBck {
        left: 0;
        right: 0;
        top: 0;
        background-color: #0F7699;
        padding-top: 70px;
        padding-bottom: 16px;
    }

    #topBarBodyRightHelper {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topBarBodyLeftBck {
        left: 0;
        color: white;
        max-width: 710px;
        width: 90%;
        display: block;
        padding-top: 12px;
    }

    #topBarBodyLeftBck img {
        transform: scale(0.300);
        left: -54px;
        top: -56%;
    }

    #topBarBodyLeftText {
        width: 80%;
        transform: translateX(90px);
    }
}
